@font-face
  font-family: "OpenSans"
  font-weight: normal
<<<<<<< HEAD
  src: url("./../fonts/OpenSans-Regular.ttf")
=======
  src: url("./fonts/OpenSans-Regular.ttf")
>>>>>>> 49a35fd10435c437fb803011dad5db8de2e4266a

@font-face
  font-family: "OpenSans"
  font-weight: normal
  font-style: italic
<<<<<<< HEAD
  src: url("./../fonts/OpenSans-Italic.ttf")
=======
  src: url("./fonts/OpenSans-Italic.ttf")
>>>>>>> 49a35fd10435c437fb803011dad5db8de2e4266a

@font-face
  font-family: "OpenSans"
  font-weight: bold
<<<<<<< HEAD
  src: url("./../fonts/OpenSans-Bold.ttf")
=======
  src: url("./fonts/OpenSans-Bold.ttf")
>>>>>>> 49a35fd10435c437fb803011dad5db8de2e4266a

@font-face
  font-family: "OpenSans"
  font-weight: bold
  font-style: italic
<<<<<<< HEAD
  src: url("./../fonts/OpenSans-BoldItalic.ttf")
=======
  src: url("./fonts/OpenSans-BoldItalic.ttf")
>>>>>>> 49a35fd10435c437fb803011dad5db8de2e4266a


